@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} */

/* ====== Navbar Start ===== */
/* ====== Header Start ===== */

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray !important;
}

.nab-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ====== Header End ===== */

/* ====== Footer Start ===== */

.footer {
  color: #000000;
  background-color: rgb(227, 227, 227);
  text-align: center;
  font-size: 22px;
  padding: 40px;
}

.footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 15px;
}

.footer a:hover {
  color: rgb(115, 86, 86);
  border-radius: 2px;
  border-bottom: 2px solid rgb(255, 255, 255);
}

/* ====== Footer End ===== */

.page-not-found {
  text-align: center;
  padding-top: 260px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 10px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
}

.container {
  padding: 40px;
}
.page-title {
  text-align: center;
  padding-top: 60px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.page-sub-title {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 26px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.contact {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.contact a {
  text-decoration: none;
  color: black;
}

.page-content {
  padding: 10px;
  margin-left: 20px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.row-image {
  padding: 40px;
}

.file-input {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form{
  padding-top: 80px;
}